<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.momsbay.model.mapper.BayPostMapper">
	<select id="getBayPostList" resultType="bayPostVO" parameterType="pagingBean">
		SELECT b.bay_post_no, b.title, b.regdate, b.id, m.name
		FROM(
		SELECT row_number() over(ORDER BY bay_post_no DESC) as rnum,
		bay_post_no, title, regdate, id
		FROM bay_post
		)b, bay_member m
		WHERE b.id = m.id AND rnum BETWEEN #{startRowNumber}
		AND #{endRowNumber}
		ORDER BY bay_post_no DESC
	</select>
	
	<select id="getTotalPostCount" resultType="int">
		SELECT count(*) FROM bay_post
	</select>
	
	<insert id="addPost" parameterType="bayPostVO">
		<selectKey keyProperty="boardTypeNo" resultType="int" order="BEFORE">
			SELECT board_type_no FROM board_type WHERE type=#{type}
		</selectKey>
			INSERT INTO bay_post(bay_post_no,title,content,regdate,id,board_type_no,subject_no)
			VALUES (bay_post_seq.nextval,#{title},#{content},sysdate,#{id},#{boardTypeNo},#{subjectNo})
	</insert>
	
	<select id="bayDetail">
		SELECT b.title,b.content,b.regdate,b.id,s.subject
		FROM bay_post b, subject s
		WHERE bay_post_no = #{bay_post_no} and s.subject_no=b.subject_no
	</select>
</mapper>