<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.momsbay.model.mapper.MemberMapper">
	<select id="findMemberById" resultType="memberVO">
		SELECT m.id,
		m.name,m.password, m.address ,m.address2, m.email, m.tel, m.point,
		g.grade
		FROM bay_member m, member_grade g
		WHERE
		m.member_grade_no=g.member_grade_no
		AND id=#{values}
	</select>

	<select id="findChildrenByMemberId" resultType="childrenVO">
		SELECT gender,
		TO_CHAR(birth, 'YYYY.MM.DD' ) as birth
		FROM children
		WHERE id=#{value}
	</select>

	<select id="findMemberExsitById" resultType="boolean">
		SELECT COUNT(*)
		FROM
		bay_member
		Where id = #{values}
	</select>

	<select id="findMemberByEmail" resultType="string">
		SELECT email
		FROM
		bay_member
		Where email = #{values}
	</select>

	<insert id="addMember" parameterType="memberVO">
		INSERT INTO
		bay_member(id,name,password,email,tel,address,member_grade_no,
		address2)
		VALUES(#{id},#{name},#{password},#{email},#{tel},#{address},'1',#{address2})
	</insert>

	<update id="updateMember" parameterType="memberVO">
		UPDATE bay_member
		SET password=#{password}, name= #{name},address= #{address},
		address2=#{address2}
		WHERE id=#{id}
	</update>

	<select id="findMemberByPasswordAndId" parameterType="map"
		resultType="int">
		SELECT count(*)
		FROM bay_member
		WHERE id=#{id}
		AND password=#{password}
	</select>

	<select id="findNowpointById" resultType="int">
		SELECT POINT
		FROM bay_member
		WHERE id=#{values}
	</select>
	
	<select id="findMemberIdByPart" resultType="string">
		SELECT id
		FROM bay_member
		WHERE id like #{values}
	</select>
	
	<select id="getMemberList" resultType="string">
		SELECT id
		FROM bay_member
		WHERE member_grade_no=#{values}
	</select>

	<select id="findMemberGradeById" resultType="int">
		SELECT member_grade_no
		FROM bay_member
		WHERE id=#{values} 
	</select>
	
	<update id="updateMemberToBlackList">
		UPDATE bay_member 
		SET member_grade_no = 3 
		WHERE id= #{values}
	</update>

	<update id="updateBlackListToMember">
		UPDATE bay_member 
		SET member_grade_no = 1 
		WHERE id= #{values}
	</update>
	
	<select id="getMemberChildStatistics" resultType="string">
		SELECT count(*)
		FROM children
		WHERE gender= #{values}
	</select>
	
	<select id="getMemberCountByGrade" resultType="int">
	SELECT count(*)
	FROM bay_member b, member_grade g
	WHERE b.member_grade_no=g.member_grade_no
	AND g.grade=#{values}
	</select>
	
</mapper>