<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.momsbay.model.mapper.PhotoUploadMapper">
 	<insert id="insertPostPhoto" parameterType="map">
	INSERT INTO ntp_PHOTO 
	VALUES(photo_SEQ.nextval, #{path}, #{postNo})
 	</insert>
 	
 	<select id="findSharePostImgByPostNo" resultType="string">
 	SELECT photo_path 
	FROM NTP_PHOTO
	WHERE NONE_TRADE_POST_NO =#{values}
 	</select>
 	
 	<update id="updateSharePostPhoto">
 	UPDATE NTP_PHOTO 
 	SET photo_path =#{savedName}
 	WHERE NONE_TRADE_POST_NO =#{postNo}
 	</update>
</mapper>