<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.momsbay.model.mapper.PickMapper">
	<resultMap type="tradePostVO" id="tradePostRM">
		<result column="name" property="memberVO.name"/>
		<result column="id" property="memberVO.id"/>
		<result column="grade" property="memberVO.grade"/>
	</resultMap>
	
	<select id="findPickListById" resultMap="tradePostRM" parameterType="string">
		SELECT tp.trade_post_no, tp.title, tp.content, 
		mp.name, tp.regdate, tp.pick_count
		FROM(
		SELECT mp.trade_post_no, bm.name
		FROM member_pick mp, bay_member bm
		WHERE mp.id=#{value} AND mp.id=bm.id
		)mp, trade_post tp
		WHERE mp.trade_post_no = tp.trade_post_no
	</select>
</mapper>