<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.momsbay.model.mapper.PointHistoryMapper">
	<select id="getPointHistoryById" resultType="pointHistoryVO" parameterType="map">
		SELECT t.type, h.regdate, h.price, h.id, h.now_point as point
		FROM (
			SELECT row_number() over(ORDER BY regdate DESC) AS rnum,
			regdate, price, id, now_point, point_type_no
			FROM POINT_HISTORY
			WHERE id=#{id}
			)h, POINT_TYPE t
		WHERE t.point_type_no=h.point_type_no
		AND rnum BETWEEN #{pagingBean.startRowNumber} AND 
		#{pagingBean.endRowNumber}
	</select>
	
	<insert id="addPointSellHistory" parameterType="map">
		INSERT INTO point_history
		VALUES(point_history_SEQ.nextval, sysdate, #{point}, #{id}, 1, #{nowPoint})
	</insert>
	
	<insert id="addPointBuyHistory" parameterType="map">
		INSERT INTO point_history
		VALUES(point_history_SEQ.nextval, sysdate, #{point}, #{id}, 2, #{nowPoint})
	</insert>
	
	<insert id="addPointChargeHistory" parameterType="map">
		INSERT INTO point_history
		VALUES(point_history_SEQ.nextval, sysdate, #{point}, #{id}, 3, #{nowPoint})
	</insert>
	
	<insert id="addPointExchangeHistory" parameterType="map">
		INSERT INTO point_history
		VALUES(point_history_SEQ.nextval, sysdate, #{point}, #{id}, 4, #{nowPoint})
	</insert>
	
	<select id="getTotalPointHistoryById" resultType="int" >
		SELECT count(*)
		FROM POINT_HISTORY
		WHERE  id=#{values} 
	</select>
	
	<select id="getTotalPointHistoryByIdAndDate" parameterType="map" resultType="int" >
		SELECT count(*)
		FROM POINT_HISTORY
		WHERE  id=#{id}
		AND  regdate between #{startDate} AND #{endDate}
	</select>
	
	<select id="getPointHistoryByIdAndDate" resultType="pointHistoryVO" parameterType="map">
		SELECT t.type, h.regdate, h.price, h.id, h.now_point as point
		FROM (
			SELECT row_number() over(ORDER BY regdate DESC) AS rnum,
			regdate, price, id, now_point, point_type_no
			FROM POINT_HISTORY
			WHERE id=#{id} AND  regdate between #{startDate} AND #{endDate}
			)h, POINT_TYPE t
		WHERE t.point_type_no=h.point_type_no
		AND rnum BETWEEN #{pagingBean.startRowNumber} AND 
		#{pagingBean.endRowNumber}
	</select>
</mapper>