<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.momsbay.model.mapper.SharePostMapper">
<!-- has a 관계일때 아이디와 이름을 매칭 -->
	<resultMap type="sharePostVO" id="sharePostRM">
		<result column="name" property="memeberVO.name"/>
		<result column="id" property="memberVO.id"/>
	</resultMap>
<!-- 나눔 글쓰기 -->
<insert id="addSharePost" parameterType="sharePostVO">
	INSERT INTO none_trade_post(none_trade_post_no, title, content, regdate, id, category_no, board_type_no) 
	VALUES(none_trade_post_seq.nextval,#{title},#{content},sysdate,#{memberVO.id},#{categoryNo},#{boardTypeNo})
</insert>
<!-- 나눔 게시글 갯수 -->
<select id="getTotalSharePost" resultType="int">
	SELECT count(*) FROM none_trade_post
</select>
</mapper>