<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.momsbay.model.mapper.SharePostMapper">
<!-- has a 관계일때 아이디와 이름을 매칭 -->
	<resultMap type="sharePostVO" id="sharePostRM">
		<result column="name" property="memberVO.name"/>
		<result column="id" property="memberVO.id"/>
	</resultMap>
<!-- 나눔(교환) 글쓰기 -->
<insert id="addSharePost" parameterType="sharePostVO">
	<selectKey keyProperty="noneTradePostNo" resultType="int" order="BEFORE">
		SELECT none_trade_post_seq.nextval FROM dual
	</selectKey>
	INSERT INTO none_trade_post(none_trade_post_no, title, content, regdate, id, category_no, board_type_no) 
	VALUES(none_trade_post_seq.currval,#{title},#{content},sysdate,#{memberVO.id},#{categoryNo},#{boardTypeNo})
</insert>
<!-- 나눔(교환) 게시글 갯수 -->
<select id="getTotalSharePostCount" resultType="int" parameterType="map">
	SELECT count(*) 
	FROM none_trade_post
	WHERE board_type_no=#{board_type_no} 
	<if test="category_no != null">
	AND category_no=#{category_no} 
	</if>
	AND delete_status=0
	<if test="searchWord != null">
	AND (title LIKE '%' || #{searchWord} || '%' OR content LIKE '%' || #{searchWord} || '%')
	</if>
</select>
<!-- 나눔(교환) 게시글 리스트 -->
<select id="getSharePostList" resultMap="sharePostRM" parameterType="map">
	/* getSharePostList -  나눔, 교환 리스트 */
	SELECT none_trade_post_no
		     , title
		     , content
		     , regdate
		     , id
		     , name
		     , category_no
		     , board_type_no 
		     , trade_status_no 
		     , imgAddress
	  FROM ( 
	  			 SELECT n.none_trade_post_no
	  			 		  , n.title
	  			 		  , n.content
	  			 		  , to_char(n.regdate,'yyyy-mm-dd')as regdate
	  			 		  , b.id
	  			 		  , b.name
	  			 		  , n.category_no
	  			 		  , n.board_type_no
	  			 		  , n.trade_status_no
	  			 		  , p.photo_path AS imgAddress
	  			 		  , row_number() over(ORDER BY n.none_trade_post_no DESC) AS rnum 
				   FROM none_trade_post n
				          , bay_member b, ntp_photo p
				 WHERE n.id=b.id 
				 	 AND p.none_trade_post_no= n.none_trade_post_no
				     AND delete_status=0 
				     AND board_type_no=#{board_type_no} 
				     <if test="category_no != null">
				     AND category_no=#{category_no}
				     </if>
				     <if test="searchWord != null">
				     AND (title LIKE '%' || #{searchWord} || '%' OR content LIKE '%' || #{searchWord} || '%')
				     </if>
			    )
	 WHERE rnum between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber}
</select>
<!-- 나눔(교환) 게시글 상세보기 -->
<select id="findDetailSharePost" parameterType="int" resultMap="sharePostRM">
	SELECT n.none_trade_post_no, n.title, n.content, n.regdate, n.id, b.name, n.category_no, n.board_type_no, n.trade_status_no 
	FROM none_trade_post n, bay_member b
	WHERE n.id=b.id AND none_trade_post_no=#{value} 
</select>
<!-- 나눔(교환) 게시글 수정 -->
<update id="updateSharePost" parameterType="sharePostVO">
	UPDATE none_trade_post 
	SET title=#{title},content=#{content}  
	WHERE none_trade_post_no=#{noneTradePostNo}
</update>
<!-- 나눔(교환) 게시글 삭제(업데이트 여부로 게시글 숨김) -->
<update id="deleteSharePost" parameterType="int">
	UPDATE none_trade_post 
	SET delete_status=1 
	WHERE none_trade_post_no=#{noneTradePostNo}
</update>
<!-- 나눔(교환) 게시글 거래완료시 상태변경 업데이트 -->
<update id="updateSharePostByStatus" parameterType="int">
	UPDATE none_trade_post 
	SET trade_status_no=3
	WHERE none_trade_post_no=#{noneTradePostNo}
</update>
<!-- 카테고리명 불러오기 -->
<select id="findCategory" resultType="string">
	SELECT category 
	FROM category 
	WHERE category_no=#{values}
</select>
</mapper>