<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.momsbay.model.mapper.TradePostMapper">
	<insert id="addTradePost" parameterType="TradepostVO">
		<selectKey keyProperty="tradePostNo" resultType="int" order="BEFORE">
			select trade_post_SEQ.nextval from dual
		</selectKey>
		INSERT INTO trade_post(trade_post_no,title,content,regdate,
		price,id,category_no,board_type_no)
		VALUES (trade_post_SEQ.currval,#{title},#{content},sysdate,#{price},
		#{memberVO.id},#{categoryNo},#{boardTypeNo})
	</insert>
	
	<select id="getTotalTradePostCount" resultType="int" parameterType="map">
		SELECT count(*) FROM trade_post
		WHERE board_type_no=#{board_type_no} AND category_no=#{category_no}
		AND delete_status=0
		<if test="searchWord != null">
		AND (title LIKE '%' || #{searchWord} || '%' OR content LIKE '%' || #{searchWord} || '%')
		</if>
	</select>
	
	<resultMap type="tradePostVO" id="tradePostRM">
		<result column="name" property="memberVO.name"/>
		<result column="id" property="memberVO.id"/>
		<result column="grade" property="memberVO.grade"/>
	</resultMap>
	
	<select id="getTradePostList" resultMap="tradePostRM" parameterType="map">
		/* getTradePostList - 삽니다 팝니다 리스트 */
		SELECT tp.trade_post_no
				 , tp.title
				 , tp.category_no
				 , tp.board_type_no
				 , tp.price
				 , bm.name
		  FROM (
						SELECT row_number() over(ORDER BY trade_post_no DESC) AS rnum
								 , id
								 , trade_post_no
								 , title
								 , price
								 , category_no
								 , board_type_no 
						  FROM trade_post
						WHERE board_type_no=#{board_type_no} 
							AND category_no=#{category_no} 
							AND delete_status=0
							<if test="searchWord != null">
							AND (title LIKE '%' || #{searchWord} || '%' OR content LIKE '%' || #{searchWord} || '%')
							</if>
					)tp
				  , bay_member bm
		 WHERE tp.id=bm.id 
		 	 AND rnum BETWEEN #{pagingBean.startRowNumber} AND #{pagingBean.endRowNumber} 
		 ORDER BY trade_post_no DESC
	</select>
	
	<select id="findTradePostByTradePostNo" parameterType="int" resultMap="tradePostRM">
		SELECT tp.trade_post_no, tp.category_no, tp.title, tp.content, tp.board_type_no,
		tp.regdate,tp.pick_count, tp.price, tp.id, bm.name, ts.status, mg.grade
		FROM trade_post tp, bay_member bm, trade_status ts, member_grade mg
		WHERE tp.id=bm.id AND tp.trade_status_no=ts.trade_status_no 
		AND tp.trade_post_no=#{value} AND bm.member_grade_no=mg.member_grade_no
	</select>
	
	<update id="deleteTradePost" parameterType="int">
		UPDATE trade_post SET delete_status=1
		WHERE trade_post_no=#{value}
	</update>
	
	<update id="updateTradePost" parameterType="tradePostVO">
		UPDATE trade_post
		SET title = #{title}, content = #{content}, price = #{price}
		WHERE trade_post_no = #{tradePostNo}
	</update>
	
	<select id="findPickListById" resultMap="tradePostRM" parameterType="string">
		SELECT tp.trade_post_no, tp.title, tp.content, 
		mp.name, tp.regdate, tp.pick_count
		FROM(
		SELECT mp.trade_post_no, bm.name
		FROM member_pick mp, bay_member bm
		WHERE mp.id='java' AND mp.id=bm.id
		)mp, trade_post tp
		WHERE mp.trade_post_no = tp.trade_post_no
	</select>
	
	
</mapper>




